<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="An open-source webserver for modded Moorhuhn Kart data files."/>
        <title>Moorhuhn Kart Mods{% if title is defined %}  - {{ title }} {% endif %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        <link rel="canonical" href="https://mhk-mods.svit.ac{{ request.path }}">

        <script src="https://unpkg.com/alpinejs" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        {% block content %}{% endblock content %}

        <footer>
            <p>Made by: <a href="https://github.com/SKevo18">SKevo18</a></p>
            <p>This program is open-source. See my GitHub repository for README and installation instructions: <a href="https://github.com/SKevo18/mhk_mods">https://github.com/SKevo18/mhk_mods</a></p>
        </footer>
    </body>
</html>
