{% extends "base.html" %}

{% block content %}
<h1>Moorhuhn Kart Mods</h1>
<ul x-data="{ games: null }" x-init="games = await (await fetch('/api/info')).json()">
    <template x-if="games !== null && games.length <= 0">
        <p style="text-align: center; color: #aaa;">There are no games available right now.</p>
    </template>

    <template x-if="games !== null">
        <template x-for="[game_id, game] in Object.entries(games)">
            <li x-data="{ mod_count: null }" x-init="mod_count = (await (await fetch(`/api/info/${game_id}`)).json()).length">
                <h2>
                    <template x-if="mod_count == null">
                        <span x-text="game">...</span>
                    </template>

                    <template x-if="mod_count > 0">
                        <a x-text="game" x-bind:href="`/${game_id}`">...</a>
                    </template>

                    <small><code x-text="`(${mod_count !== undefined ? mod_count : 0} mods)`"></code></small>
                </h2>
            </li>
        </template>
    </template>
</ul>
{% endblock content %}
