{% set title=game.name %}
{% extends "base.html" %}

{% block content %}
<h1>{{ game.name }} Modded Data Files</h1>
<ul x-data="{ mods: null, selected_mods: [] }" x-init="mods = await get_mods()">
    <template x-if="mods !== null && mods.length <= 0">
        <p style="text-align: center; color: #aaa;">There are no mods available for '{{ game.name }}'</p>
    </template>

    <template x-if="mods !== null && mods.length > 0">
        <template x-for="mod in mods" :key="mod.mod_id">
            <li style="display: flex; gap: 1.5rem;">
                <input x-show="mods.length >= 2" type="checkbox" x-bind:name="`{{ game.id }}/${mod.mod_id}`" x-on:change="if ($el.checked) { selected_mods.push(mod.mod_id);} else { selected_mods.pop(mod.mod_id); };">

                <div>
                    <h2 x-text="mod.meta.title"></h2>
                    <p x-text="mod.meta.description"></p>

                    <p style="display: inline-flex; gap: 0.5rem;">
                        <a x-bind:href="mod.source" title="View the README and source at GitHub.">README & GitHub Source</a>
                        <span style="color: #fff;">|</span>
                        <a x-bind:href="mod.download_url" title="Download the data file for this mod.">Download this mod</a>
                    </p>
                </div>
            </li>
        </template>
    </template>

    <div style="margin: 3rem 0;">
        <template x-if="selected_mods.length >= 2">
            <div style="text-align: center;">
                <a x-bind:href="`/api/merge/{{ game.id }}?mod_id=${selected_mods.join('&mod_id=')}`">Merge & download selected mods</a>
                <i style="display: flex; flex-direction: column; color: #fff;">
                    <span x-text="`(${selected_mods.join(', ')})`"></span>
                    <p>
                        Note: these mods will be repacked before downloading. The compilation speed may vary, depending on server load and number of mods processed. Please, be patient.<br/>
                        If the server responds with "Bad Gateway", it means that the mods took too long to repack or something went wrong. In that case, please report the issue on GitHub.
                    </p>
                </i>
            </div>
        </template>
    </div>
</ul>

<script type="text/javascript">
    async function get_mods() {
        let mods_data = []

        game_request = await fetch("/api/info/{{ game.id }}")
        if (game_request.status == 404) { return [] }

        mod_ids = await game_request.json()
        for (const mod_id of mod_ids) {
            let mod_request = await fetch(`/api/info/{{ game.id }}/${mod_id}`)
            if (mod_request.status == 404) { continue }

            let mod_data = await (mod_request).json()
            mods_data.push(mod_data)
        }

        return mods_data
    }
</script>
{% endblock content %}
